<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div class="masthead">
      <div class="container center">
        <a href="{{ site.baseurl }}" title="Fnaf Coloring Pages For Kids" class="masthead-title">{{ site.title }}</a>
      </div>
    </div> <!-- end masthead -->

    <div class="container content">

      <div role="main">
        {{ content }}
      </div>

      <div class="footer" role="contentinfo">
        <ul>
          <li><a href="/atom.xml" title="Atom Feed">Atom Feed</a></li>
          <li><a href="/rss.xml" title="RSS Feed">RSS Feed</a></li>
          <li><a href="http://autoizipro.com" title="Author's website">AutoIziPro</a></li>
          <li><a href="mailto:thomasthevinh@gmail.com" title="email me">Contact me</a></li>
        </ul>
      </div>

    </div> <!-- end container -->

    {% include tracking.html %}
  </body>
</html>
